







<h2>Customer Details</h2> 

<hr/>
<div *ngIf="customer">
  <div>
    <label><b> Id: </b></label> {{customer.customerId}}
  </div>
  <div>
    <label><b> Name: </b></label> {{customer.customerName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{customer.emailAddress}}
  </div>  
  <div>
    <label><b>Address: </b></label> {{customer.address}}
  </div>  
  <div>
    <label><b>City: </b></label> {{customer.city}}
  </div>  
  <div>
    <label><b>Phn: </b></label> {{customer.phoneNumber}}
  </div>  
  <div>
    <label><b>Zipcode: </b></label> {{customer.zipCode}}
  </div>  
</div>

<br>
<br>

